<html>
<head>
    <title>Editable</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">


    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    
    <script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/bootstrap-table.js"></script>

    <script src="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <style type="text/css">
      .fl{float: left;}
      .fr{float: right;}
      .tc{text-align: center;}
      #table1 th{text-align: center;}
      #table2 th{text-align: center;}
      .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
          font-size: 12px;
      }
      .bootstrap-table .table > thead > tr > th {
          vertical-align: middle;
      }
      .fixed-table-container table tr:nth-child(2) .th-inner{
          /*//width:100%!important;*/
          padding: 2px;
          width: 34px;

          line-height: 24px;
          vertical-align: top;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
      }
      .fixed-table-container tbody td {
          font-size: 12px;
      }
      .fixed-table-body {
          height:auto;
      }


    </style>
</head>
<body style="padding:110px;">

  <h3 class="">
    火电运营企业安全生产技术经济对标管理季(年)度奖励考核申报审核兑现表
  </h3>
  <div class="fl">
    单位:岱海发电
  </div>
  <div class="fr tc">
    2016/4/15
  </div>

<table id="table1" data-toggle="table">
      <thead class="tc">
        <tr >
          <th rowspan="3">
            类别
          </th>
          <th colspan="7">
            可靠性
          </th>
          <th colspan="9">
            检修
          </th>
          <th colspan="14">
            生产
          </th>
          <th colspan="5">
            技术监督
          </th>

        </tr>
        <tr class="col-width">
            <th>等效可用系数</th>
            <th>利用小时数是否达当地平均水平</th>
            <th>金牌机组评比</th>
            <th>累计非停</th>
            <th>是否电网大负荷或政治保电</th>
            <th>故障停机</th>
            <th>锅炉灭火及其它</th>
            <th>A修后连续运行</th>
            <th>B、C修后连续运行</th>
            <th>修后一个月内故障停机</th>
            <th>超检修工期</th>
            <th>超检修计划（年度）</th>
            <th>A修后热耗</th>
            <th>机组设计热耗</th>
            <th>单位容量检修费用</th>
            <th>机组A修费用超支</th>
            <th>季度利用小时数</th>
            <th>利用小时数当地电网排名</th>
            <th>机组增容运行</th>
            <th>大机组竞赛获奖情况</th>
            <th>两个细则奖励（考核）</th>
            <th>电网扣罚</th>
            <th>技改项目完成率</th>
            <th>技改费用超支</th>
            <th>专项大修费用超支</th>
            <th>季度培训完成情况</th>
            <th>报表错误次数考核</th>
            <th>年度单位电量材料费用</th>
            <th>年度单位电量其他费用</th>
            <th>全年利用小时数</th>
            <th>技术监督工作被点名批评</th>
            <th>技术监督严重问题未及时处置</th>
            <th>专项检查整改工作未按时完成</th>
            <th>技术监督月报或分析报告未按时</th>
            <th>上级安排的其它技术监督工作未按时</th>

        </tr>
        <tr>
          <th colspan="2">%</th>
          <th>台</th>
          <th colspan="2">次</th>
          <th colspan="2">次</th>
          <th colspan="2">天</th>
          <th>次</th>
          <th>天</th>
          <th>-</th>
          <th colspan="2">kj/kwh</th>
          <th colspan="2">万元</th>
          <th>小时</th>
          <th>名</th>
          <th>台</th>
          <th>次</th>
          <th colspan="2">万元</th>
          <th>%</th>
          <th colspan="2">万元</th>
          <th colspan="10">次</th>

        </tr>
      </thead>
    <tbody>
        <tr>
            <td>申报完成情况</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td>审核完成情况</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>

        <tr>
            <td>申报金额</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td>核准金额</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>

    </tbody>

</table>
  <table id="table2" data-toggle="table">
      <thead class="tc">
      <tr >
          <th rowspan="3">
              类别
          </th>
          <th colspan="7">
              可靠性
          </th>
          <th colspan="9">
              检修
          </th>
          <th colspan="14">
              生产
          </th>
          <th colspan="5">
              技术监督
          </th>

      </tr>
      <tr class="col-width">
          <th>等效可用系数</th>
          <th>利用小时数是否达当地平均水平</th>
          <th>金牌机组评比</th>
          <th>累计非停</th>
          <th>是否电网大负荷或政治保电</th>
          <th>故障停机</th>
          <th>锅炉灭火及其它</th>
          <th>A修后连续运行</th>
          <th>B、C修后连续运行</th>
          <th>修后一个月内故障停机</th>
          <th>超检修工期</th>
          <th>超检修计划（年度）</th>
          <th>A修后热耗</th>
          <th>机组设计热耗</th>
          <th>单位容量检修费用</th>
          <th>机组A修费用超支</th>
          <th>季度利用小时数</th>
          <th>利用小时数当地电网排名</th>
          <th>机组增容运行</th>
          <th>大机组竞赛获奖情况</th>
          <th>两个细则奖励（考核）</th>
          <th>电网扣罚</th>
          <th>技改项目完成率</th>
          <th>技改费用超支</th>
          <th>专项大修费用超支</th>
          <th>季度培训完成情况</th>
          <th>报表错误次数考核</th>
          <th>年度单位电量材料费用</th>
          <th>年度单位电量其他费用</th>
          <th>全年利用小时数</th>
          <th>技术监督工作被点名批评</th>
          <th>技术监督严重问题未及时处置</th>
          <th>专项检查整改工作未按时完成</th>
          <th>技术监督月报或分析报告未按时</th>
          <th>上级安排的其它技术监督工作未按时</th>

      </tr>
      <tr>
          <th colspan="2">%</th>
          <th>台</th>
          <th colspan="2">次</th>
          <th colspan="2">次</th>
          <th colspan="2">天</th>
          <th>次</th>
          <th>天</th>
          <th>-</th>
          <th colspan="2">kj/kwh</th>
          <th colspan="2">万元</th>
          <th>小时</th>
          <th>名</th>
          <th>台</th>
          <th>次</th>
          <th colspan="2">万元</th>
          <th>%</th>
          <th colspan="2">万元</th>
          <th colspan="10">次</th>

      </tr>
      </thead>
      <tbody>
      <tr>
          <td>申报完成情况</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>


      </tr>
      <tr>
          <td>审核完成情况</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>


      </tr>

      <tr>
          <td>申报金额</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>


      </tr>
      <tr>
          <td>核准金额</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>


      </tr>
      </tbody>

  </table>



<a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>

</body>
<script type="text/javascript">

$.fn.editable.defaults.mode = 'popup';
$(document).ready(function() {
  $('#username').editable();
});

</script>
</html>



